.header {
  font-size: 20px;
  text-align: center;
  padding: 4px;
  background-color: rgb(17, 59, 17);
  color: white;
  width: 300px;
  border-radius: 8px;
}
.headerwithface {
  font-size: 16px;
  text-align: center;
  padding: 2px;
  background-color: rgb(17, 59, 17);
  color: white;
  width: 210px;
  border-radius: 5px;
}
.none {
  display: none;
}
